<#@ Dsl processor="DslDirectiveProcessor" requires="fileName='..\..\Dsl\DslDefinition.dsl'" #>
<#
	// CmdSet Guid must be defined before master template is included
	// This Guid must be kept synchronized with the CommandSetId Guid in Constants.tt
	Guid guidCmdSet = new Guid ("3660a3d2-5836-4ec0-990e-7ff0bcce9f4f");
#>
<#@ include file="DslPackage\GeneratedVSCT.tt" #>
